<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Mon portfolio{% endblock %}</title>
    <link rel="icon" href="/build/images/logo-favicon.png">
    <link rel="stylesheet" href="/build/app.css">
    <script src="/build/runtime.js"></script>
    <script src="/build/app.js"></script>
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body class="d-flex flex-column justify-content-between min-vh-100">
<div class="social-media d-none d-md-block">
    <a href="https://github.com/BretonLud" target="_blank" title="github"><i class="bi bi-github"></i></a> <!-- You Can Edit the link here -->
    <a href="https://www.linkedin.com/in/ludovic-breton/" target="_blank" title="linkedin"><i class="bi bi-linkedin"></i></a> <!-- You Can Edit the link here -->
</div>
<header class="sticky-top">
    <nav>
        <div class="navbar navbar-expand-lg bg-white p-3 shadow">
            <div class="container-fluid">
                <div class="img-fluid w-25">
                    <a href="/">
                        <img src="/build/images/logo.png" height="70px"
                             alt="logo">
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                  <span class="bar bar-1"></span>
                  <span class="bar bar-2"></span>
                  <span class="bar bar-3"></span>
                </span>
                </button>
                <div class="collapse navbar-collapse z-3" id="navbarNav">
                    <ul class="navbar-nav justify-content-around w-100 fw-bold text-center">
                        {% if app.user %}
                            {% if app.user.role == 'ADMIN' %}
                                <li class="nav-item mt-lg-auto mb-lg-auto dropdown me-lg-3 mb-3 mt-3">
                                    <a href="/admin">Administration</a>
                                </li>
                            {% endif %}
                            <li class="nav-item mt-lg-auto mb-lg-auto me-lg-3 mb-3 mt-3">
                                <a href="/blogs" title="blogs">Blogs</a>
                            </li>
                            <li class="nav-item mt-lg-auto mb-lg-auto me-lg-3 mb-3 mt-3">
                                <a href="/profil/comment">Mes commentaires</a>
                            </li>
                            <li class="nav-item mt-lg-auto mb-lg-auto me-lg-3 mb-3 mt-3">
                                <a href="/contact">Contact</a>
                            </li>
                            <li class="nav-item mt-lg-auto mb-lg-auto ms-auto me-auto me-lg-0">
                                <div class="d-flex justify-content-around flex-column flex-lg-row">
                                    <a href="/profil" title="profil"
                                       class="nav-link bg-primary text-white rounded-pill me-lg-2 p-2 mb-3 mb-lg-auto mt-lg-auto">
                                        <div class="d-flex justify-content-center h-100 align-items-center">
                                            <i class="bi bi-person-circle me-3"></i>
                                            {{ app.user }}
                                        </div>
                                    </a>

                                    {% if app.user and app.user.role == "ADMIN" and app.unapprovedCommentCount != 0 %}
                                        <a href="/admin/comment" class="nav-link" title="Il y a {{ app.unapprovedCommentCount }} commentaire(s) à valider">
                                            <div class="notification-circle">
                                                {{ app.unapprovedCommentCount }}
                                            </div>
                                        </a>
                                    {% endif %}
                                    <a href="/logout"
                                       class="nav-link text-center" title="Déconnexion">
                                        <i class="bi bi-power text-success" style="font-size: 1.5rem"></i>
                                    </a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item mt-lg-auto mb-lg-auto me-lg-3 mb-3 mt-3">
                                <a href="/blogs" title="Blogs">Blogs</a>
                            </li>
                            <li class="nav-item mt-lg-auto mb-lg-auto me-lg-3 mb-3 mt-3">
                                <a href="/contact">Contact</a>
                            </li>
                            <li class="nav-item mt-lg-auto mb-lg-auto ms-auto me-auto me-lg-0">
                                <div class="d-flex justify-content-around flex-column flex-lg-row">
                                    <a href="/login"
                                       class="nav-link text-center" title="Connexion">
                                        <i class="bi bi-power text-danger" style="font-size: 1.5rem"></i>
                                    </a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
{% if app.user is not empty and app.user.validated == false %}

    <div class="flex justify-content-center align-items-center message container mt-3">
        <div class="alert alert-danger">Votre compte n'est pas validé, pour recevoir un nouveau mail de validation, merci de cliquer: <a
                    href="/resend-verify-email/{{ user.slug }}" class="fw-bold">ICI</a>
        </div>
    </div>
{% endif %}
<div class="d-flex flex-column flex-grow-1 pb-5 h-75">
    {% for message in success %}
        <div class="flex justify-content-center align-items-center message container mt-3">
            <div class="alert alert-success">{{ message }}</div>
        </div>
    {% endfor %}

    {% for message in errors %}
        <div class="flex justify-content-center align-items-center message container mt-3">
            <div class="alert alert-danger">{{ message }}</div>
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
</div>
<footer class="text-center">
    <div class="footer-content">
        <div class="mb-3">
            <a href="/" title="accueil">
                <img src="/build/images/logo.png" height="90px"
                     alt="logo" class="bg-white rounded-5">
            </a>
        </div>

        <div class="social-media-footer">
            <a href="https://github.com/BretonLud" title="github"><i class="bi bi-github"></i></a>
            <a href="https://www.linkedin.com/in/ludovic-breton/" title="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="copyright">
            <p>Tous droits réservés</p>
        </div>
    </div>
</footer>
</body>
</html>