{% extends 'base.html.twig' %}

{% block title %}{{ (edit) ? 'Modifier votre mot de passe' : 'Réinitiliser votre mot de passe' }}{% endblock %}

{% block body %}
    <div class="container m-auto">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
                <div class="card rounded-4 shadow">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-flex  justify-content-center
                        align-items-center">
                            <img src="/build/images/logo.png"
                                 alt="login site" class="img-fluid" width="200px">
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <form action="" method="post">
                                    <div class="d-flex align-items-center justify-content-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3"
                                        style="letter-spacing: 1px;">{{ (edit) ? 'Modifier votre mot de passe' : 'Réinitiliser votre mot de passe' }}</h5>
                                    {% if edit %}
                                        <div class="mb-4">
                                            <div class="form-floating">
                                                <input type="password" name="currentPassword" id="currentPassword" class="form-control {{ (error.callback) ? 'is-invalid' }}"
                                                       required>
                                                <label for="currentPassword">Mot de passe actuel</label>
                                                {% if error.callback %}
                                                    <div class="invalid-feedback">
                                                        {{ error.callback }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <div class="mb-4 firstPasswordDiv">
                                        <div class="form-floating">
                                            <input type="password" name="password" id="password" class="form-control {{ (error.password) ? 'is-invalid' }}" required>
                                            <label for="password">Nouveau mot de passe</label>
                                            {% if error.password %}
                                                <div class="invalid-feedback">
                                                    {{ error.password }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="strength-bar">
                                            <div class="bar p-1"></div>
                                        </div>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="password" name="confirm_password" id="confirmPassword" class="form-control {{ (error.confirm_password) ? 'is-invalid' }}"
                                               required>
                                        <label for="confirmPassword">Confirmer le mot de passe</label>
                                        {% if error.confirm_password %}
                                            <div class="invalid-feedback">
                                                {{ error.confirm_password }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block"
                                                type="submit">
                                            {{ (edit) ? 'Modifier votre mot de passe' : 'Réinitiliser votre mot de passe' }}
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}